@import url(https://fonts.googleapis.com/css?family=Unica+One);
body {
  background-image: url("../marblebackground.jpg");
}
h1{
  font-family: Unica One;
  font-size: 70px;
  text-align: center;
}
#navigation {
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid #6A316E;
    border-bottom: 3px solid #6A316E;
    padding-bottom: 17px;
    font-family: Unica One;

}
#navigation ul {
    height: auto;

}
 #navigation li {
   display: inline;
  padding: 50px;
  text-decoration: none;
  font-size: 18px;
}
p {
  text-align: center;
  font-family: Unica One;
  font-weight: bold;
  font-size: 17px;

}
img {
  margin-bottom: 10px;

  border: 3px solid #6A316E;
}
#content {
  font-family: Unica One;
  background-color: rgba(255,255,255,0.7);

}
.col-md-6 {

}
a {
  color: #2F3336;
}
.lead text-primary {
  color: gray;

}
h4 {
  color: #2F3336;
  font-weight: bold;
}
strong {
  font-family: Unica One;
  font-size: 30px;
  color: #2F3336;

}
li {
  text-align: center;
  font-size: 25px;
  list-style-type: none;


}
li.a:hover {
  background-color: white;
}
h3 {
  font-family: Unica One;
  font-size: 30px;

}
