@import url(https://fonts.googleapis.com/css?family=Unica+One);
body {
  background-image: url("../blackswirl.jpg");
}
h1{
  font-family: Unica One;
  font-size: 70px;
  text-align: center;
  color: #C6003C;
  font-weight: bolder;
}
#navigation {
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding-bottom: 17px;
    font-family: Unica One;
}
#navigation ul {
    height: auto;
}
 #navigation li {
  display: inline;
  padding: 50px;
  text-decoration: none;
  font-size: 18px;
}
p {
  text-align: center;
  font-family: Unica One;
  font-weight: bold;
  font-size: 17px;
  color: #C6003C;
  background-color: rgba(255,255,255,0.9);
  }
img {
  margin-bottom: 10px;
  border: 3px solid white;
}
#content {
  font-family: Unica One;
  background-color: rgba(255,255,255,0.9);
  font-size: 16px;
  text-align: center;
}
a {
  color: #2F3336;
    background-color: rgba(255,255,255,0.9);
}
.lead text-primary {
  color: gray;
}
h4 {
  color: #2F3336;
  font-weight: bold;
}
strong {
  font-family: Unica One;
  font-size: 30px;
  color: #2F3336;
  background-color: rgba(255,255,255,0.9);

}
li {
  text-align: center;
  font-size: 25px;
  list-style-type: none;

}

li.a:hover {
  background-color: white;
}
a:hover {
  color: #C6003C;
}
h3 {
  font-family: Unica One;
  font-size: 30px;
}
#myCarousel {
  text-align: center;
}
