@import url(https://fonts.googleapis.com/css?family=Unica+One);
body {
  background-image: url("../marblebackground.jpg");
}
h1{
  font-family: Unica One;
  font-size: 70px;
  text-align: center;
}
#navigation {
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding-bottom: 17px;
    font-family: Unica One;

}
#navigation ul {
    height: auto;

}
 #navigation li {
   display: inline;
  padding: 50px;
  text-decoration: none;
  font-size: 18px;
}
p {
  text-align: center;
  font-family: Unica One;

}
img {
  border: 4px solid black;
}
#content {
  font-family: Unica One;
}
