@import url(https://fonts.googleapis.com/css?family=Delius+Swash+Caps);
body {
  font-family: "Delius Swash Caps",sans-serif;
  font-size: 1em;
  background-color: #8A4A87;
}
h1{
  font-size: 2em;
  font-weight: bolder;
}
h2{
  color: yellow;
}
